body {
    margin:0;
    padding:0;
}

.header {
    display:flex;
    justify-content:center;
    margin-top: 3rem;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: rgb(90, 167, 90);
    font-size:70px;
    text-align: left;
    margin-bottom: 0;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}

.search-field {
    height: 25px;
    padding: 2px;
    width:400px;
    font-size: 18px;
    outline: none;
}

.search-btn {
    height: 35px;
    width:100px;
    background: rgb(90, 167, 90);;
    border:none;
    color:#000;
    border-radius:25px;
    margin-left: 5px;
}

.search-btn:hover {
    background:#09621f;
    cursor: pointer;
}