body {
    margin:0;
    padding:0;
}

.header {
    display:flex;
    justify-content:center;
    margin-top: 3rem;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: rgb(90, 167, 90);
    font-size:70px;
    text-align: left;
    margin-bottom: 0;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}

img { 
    width: 100%;
    object-fit: cover;
}