h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  text-align: center;
  text-decoration: none;
  color: rgb(78, 182, 78);

}

h2 {
  text-align: center;
  font-family: monospace
}

.link{
  text-decoration: none;
  color: rgb(90, 167, 90)
}

.sidebar {
  flex: 2;
  /* width: 300px; */
  height: calc(100vh - 50px);
  /* overflow-y: scroll; */
  position: sticky;
  top: 50px;
  background-color: rgb(238, 245, 241);
}

.sidebarWrapper {
  padding: 20px;
}