.link{
  text-decoration: none;
  color: rgb(90, 167, 90);
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  font-weight: bolder;
}

h2 {
  font-family: monospace;
  margin-top: 0;
}

.sidebar {
  flex: 2;
  position: sticky;
  background-color: rgb(238, 245, 241);
}

.sidebarWrapper {
  padding: 20px;
  text-align: center;
}